.generalsetting-container {
    display: flex;
    padding: auto;
}

.general-setting-sidebar-container {
    width: 16%;
    border-right: 1px solid gray;
    border-top: 1px solid gray;

}

.general-section-title-user,.general-section-title-language {
    font-size: 1.25rem;
    font-weight: 500;
    color: #374151;
    margin-bottom: 2rem;
    background-color: #d1d5dd;
    padding: 15px;
    margin-left: -20px;
    margin-top: -1px;
    border-top: 1px solid gray;
}

.generalsetting-feature-container-user {
    display: flex;
    gap: 10rem;
    margin-left: 10%;
}


.left-column-feature-user label {
    font-size: 20px;
    font-family: emoji;
    font-weight: 600;
}

.email-left-column-feature-user input {
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px;
    font-size: 16px;
}

.userInputgeneralsetting:focus {
    outline: none;
}

.items-right-column-feature-user {
    display: flex;
    flex-direction: column;
}

.invite-btn-user {
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    font-weight: 600;
    font-family: emoji;
    background-color: #934cbf;
    color: white;
    border-radius: 5px;
}

.itemsActive-right-column-feature-user label {
    font-size: 20px;
    font-family: emoji;
    font-weight: 600;
}

.items-right-column-feature-user a {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-family: emoji;
    color: rgb(12, 101, 235);
}

.items-right-column-feature-user,
.left-column-feature-user {
    border-left: 1px solid #dfdfdf;
    padding: 10px;
}

.itemsActive-right-column-feature-user span {
    margin-top: -8px;
}

.itemsActive-right-column-feature-user {
    display: flex;
    gap: 10px;
}


.general-settings-section-user {
    background-color: #ffffff;
    max-width: 100%;
    padding-left: 20px;
    margin-right: auto;
    border-top: 1px solid #e5e7eb;
}

.email-left-column-feature-user {
    display: flex;
}

.generalsetting-container-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}