.setting-sidebar-container {
    display: flex;
    flex-direction: column;

}

.general-settingSideNavbar,
.crm-settingSideNavbar {
    padding: 12px 16px;
    width: 100%;
    font-size: 18px;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    border: none;
    background:none;
    &:hover{
        background-color: rgb(200, 208, 219);
    }
}

.general-settingSideNavbar:active{
    background-color: aliceblue;
}
.crm-settingSideNavbar:active{
      background-color: aliceblue;
}